// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// Note on SASS defaults - http://sass-lang.com/documentation/file.SASS_REFERENCE.html#variable_defaults_
// -----------------------------------------------------------------------------

/// Wharton Branding Colors
$penn-blue: rgb(36,54,114);
$penn-red: rgb(152,30,50);
$penn-bright-red: rgb(223,82,78);
$penn-green: rgb(94,179,70);
$penn-violet: rgb(144,81,155);
$penn-sky-blue: rgb(14,118,188);
$penn-orange: rgb(243,117,58);
$penn-dark-gray: rgb(104,104,104); 
$penn-light-gray: rgb(170,170,170);
$penn-light-blue: rgb(176,200,223);
$penn-taupe: rgb(222,217,194);
$penn-off-white: rgb(243,243,244);

/// White & Black
$white: rgb(255,255,255);
$black: rgb(0,0,0);

/// Breadcrumb Row
$breadcrumb-bg: rgb(245,245,245);
$breadcrumb-text: rgb(170,170,170);

/// Copy text color
$text-color: rgb(34, 34, 34);

// Default Theme Fonts
$penn-font-bold: "HelveticaNeueW02-75Bold", Helvetica, sans-serif;
$penn-font-light: "HelveticaNeueW02-45Ligh", Helvetica, sans-serif;
$penn-font-pal: "Palatino Linotype", Palatino, "Times New Roman", Times, serif;
$penn-font-ultra-light: "HelveticaNeueW01-UltLt", Helvetica, sans-serif;

/*
$penn-font-ultra-light: "HelveticaNeueW01-UltLt", Helvetica, sans-serif;
$penn-font-medium: "HelveticaNeueW02-65Medi", "Helvetica Neue", Arial, Helvetica, sans-serif;
$penn-font-roma: "HelveticaNeueW02-55Roma", Helvetica, sans-serif;
*/

/// Container's maximum width
$max-width: 1450px;
$large: 1250px;
$medium: 850px;
$small: 620px;
