// -----------------------------------------------------------------------------
// This file contains all flexbox grid styles
// Grid by Philip Walton http://philipwalton.github.io/solved-by-flexbox/demos/grids/
// -----------------------------------------------------------------------------

/**
 *  Grid Wrap
 */
.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

/**
 *  Grid Cell
 */
.grid__cell {
  flex: 1;
}

/**
 *  Flex Cells
 */
.grid--flexCells > .grid__cell {
  display: flex;
}

/**
 *  Grid Helpers
 */
.u-1of1 {
    width: 100% !important;
    flex: none !important;  
}
 
.u-1of2 {
    width: 50% !important;
    flex: none !important;  
}
 
.u-1of3 {
    width: 33.3333% !important;
    flex: none !important;
}

.u-1of4 {
    width: 25% !important;
    flex: none !important;
}

/**
 *  Align
 */
.align-center {
    text-align: center !important;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

/**
 *  Grid Gutters
 */
.grid--gutters {
  margin: -1em 0 0 -1em;
  margin-bottom: 1em;
}

.grid--gutters > .grid__cell {
  padding: 1em 0 0 1em;

}

.overlay {
   .grid--gutters > .grid__cell {
        @include breakpoint($medium) {
            padding-bottom: 0px;
            padding-top: 0px;
        }
    } 
}

/**
 *  Alignment Per Row
 */
.grid--top {
  align-items: flex-start;
}
.grid--bottom {
  align-items: flex-end;
}
.grid--center {
  align-items: center;
}

/**
 *  Alignment Per Cell
 */
.grid-cell--top {
  align-self: flex-start;
}
.grid-cell--bottom {
  align-self: flex-end;
}
.grid-cell--center {
  align-self: center;
}

/**
 *  All Media Base Classes
 */
.grid--fit > .grid__cell {
  flex: 1;
}
.grid--full > .grid__cell {
  flex: 0 0 100%;
}
.grid--1of2 > .grid__cell {
  flex: 0 0 50%
}
.grid--1of3 > .grid__cell {
  flex: 0 0 33.3333%
}
.grid--1of4 > .grid__cell {
  flex: 0 0 25%
}

/**
 *  Small to Medium Screens
 */
@media (min-width: 384px) {
  .small-grid--fit > .grid__cell {
    flex: 1;
  }
  .small-grid--full > .grid__cell {
    flex: 0 0 100%;
  }
  .small-grid--1of2 > .grid__cell {
    flex: 0 0 50%
  }
  .small-grid--1of3 > .grid__cell {
    flex: 0 0 33.3333%
  }
  .small-grid--1of4 > .grid__cell {
    flex: 0 0 25%
  }
}

/**
 *  Large Screens
 */
@media (min-width: 768px) {
  .large-grid--fit > .grid__cell {
    flex: 1;
  }
  .large-grid--full > .grid__cell {
    flex: 0 0 100%;
  }
  .large-grid--1of2 > .grid__cell {
    flex: 0 0 50%
  }
  .large-grid--1of3 > .grid__cell {
    flex: 0 0 33.3333%
  }
  .large-grid--1of4 > .grid__cell {
    flex: 0 0 25%
  }
}